{% extends "base.html" %}

{% block title %}Register - Synk{% endblock %}

{% block body %}
                      <div class="post-header">
                        <h3 class="post-title">Use Synk In Your App</h3>
                      </div>

                      <div class="post-content clearfix">
                        <p>
                        Synk implemens a very simple HTTP/JSON API. More details coming soon.
                        </p>
                      </div>

                      <div class="post-header">
                        <h3 class="post-title">Help Develop Synk</h3>
                      </div>

                      <div class="post-content clearfix">
                        <p>
                        Synk development is hosted at <a href="http://www.github.com/">GitHub</a>,
                        where you can browse, clone, or fork the 
                        <a href="http://github.com/dcrosta/synk/tree/master">Synk repository</a>.
                        </p>
                      </div>
{% endblock %}
{%comment%}
vim:ts=2 sts=2 sw=2 expandtab tw=100
{%endcomment%}
