{% extends "base.html" %}

{% block body %}
                      <div class="post-header">
                        <h3 class="post-title">What is Synk?</h3>
                      </div>

                      <div class="post-content clearfix">
                        <p>
                        Synk allows your applications to remember vital state using a simple
                        web-based service. Synk-enabled applications can send and receive events
                        &#8212; like &ldquo;article 6 was flagged&rdquo;, or &ldquo;open a browser
                        tab to <a href="http://rssynk.appspot.com">http://rssynk.appspot.com</a>&rdquo;
                        &#8212; so that you don't have to remember and repeat your actions.
                        </p>

                        <p>
                        Some applications are already using Synk, like the popular open source
                        RSS/Atom newsreader <a href="http://www.vienna-rss.org/">Vienna</a>. Synk
                        developers are working with authors of other applications to help add
                        support.
                        </p>

                        <p>
                        Synk is open source software, distributed under a permissive BSD-like
                        license. Anyone is welcome to use synk for their own applications, and is
                        encouraged to contribute changes back to the core Synk code base. Synk
                        source code is avaialable at <a href="http://github.com/dcrosta/synk">GitHub</a>.
                        <p>
                      </div>

                      <div class="post-header">
                        <h3 class="post-title">How do I get it?</h3>
                      </div>

                      <div class="post-content clearfix">
                        <p>
                        <a href="/register">Registering for Synk</a> is a snap &mdash; it takes a total
                        of about 3 seconds. Just choose a username and password, then enter it in
                        your Synk-enabled applications on each of your computers, and the rest works
                        like magic.
                        </p>
                      </div>
{% endblock %}
{%comment%}
vim:ts=2 sts=2 sw=2 expandtab tw=100
{%endcomment%}
