{% extends "base.html" %}

{% block body %}
                      <div class="post-header">
                        <h3 class="post-title">What is Synk?</h3>
                      </div>

                      <div class="post-content clearfix">
                        <p>
                        Synk allows applications you use to synchronize read/unread status of items
                        with a centralized service. By itself, this may not be terribly useful,
                        unless you use Synk-enabled applications from multiple computers, such as an
                        RSS reader that you use at home and at work.
                        </p>
                      </div>
    

                      <div class="post-header">
                        <h3 class="post-title">How do I get it?</h3>
                      </div>

                      <div class="post-content clearfix">
                        <p>
                        <a href="/register">Registering for Synk</a> is a snap &mdash; it takes a total
                        of about 3 seconds. Just choose a username and password, then enter it in
                        your Synk-enabled applications on each of your computers, and the rest works
                        like magic.
                        </p>
                      </div>
{% endblock %}
{%comment%}
vim:ts=2 sts=2 sw=2 expandtab tw=100
{%endcomment%}
