{% extends "base.html" %}

{% block title %}Register - Synk{% endblock %}

{% block body %}
                      <div class="post-header">
                        <h3 class="post-title">Register for Synk</h3>
                      </div>

                      <div class="post-content clearfix">
                        <p>
                        Synk requires a unique username and password so that we can keep your info
                        separate from other users'. Your password should be at least 6 characters
                        long, but may be as long as you like.
                        </p>
                        <p>
                        Be sure to remember the username and password you enter here. Since we don't
                        collect your email address, you won't have any way of recovering a lost
                        password.
                        </p>
                        <p>
                        {% include "form.html" %}
                        </p>
                      </div>
{% endblock %}
{%comment%}
vim:ts=2 sts=2 sw=2 expandtab tw=100
{%endcomment%}
